<script>
    function toggleMenu() {
        document.querySelector('.sidebar').classList.toggle('open');
    }

    const themeMode = document.querySelector('#theme-mode');
    const currentTheme = localStorage.getItem('theme') || 'dark';
    document.documentElement.setAttribute('data-theme', currentTheme);
    themeMode.checked = currentTheme === 'dark';
    function toggleTheme() {
        themeMode.checked = !themeMode.checked;
        var theme = themeMode.checked ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', theme);
        localStorage.setItem('theme', theme);
    }

    // Arrange content headers in a tree structure
    const headerSelector = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].map((tag) => '.content ' + tag).join(', ');
    const headers = document.querySelectorAll(headerSelector);
    const headerTree = { parent: null, children: [], level: 0 };
    let currentLevel = null;
    let currentLevelRef = headerTree;
    headers.forEach((header) => {
        const level = parseInt(header.tagName[1]);
        const node = { text: header.textContent, el: header, children: [], level };
        if (currentLevel == null) {
            node.parent = headerTree;
            headerTree.children.push(node);
            currentLevel = level;
        } else if (level == currentLevel) {
            node.parent = currentLevelRef;
            currentLevelRef.children.push(node);
        } else if (level > currentLevel) {
            currentLevelRef = currentLevelRef.children[currentLevelRef.children.length - 1];
            node.parent = currentLevelRef;
            currentLevelRef.children.push(node);
            currentLevel = level;
        } else if (level < currentLevel) {
            while (currentLevelRef.level != level) {
                currentLevelRef = currentLevelRef.parent;
            }
            currentLevelRef = currentLevelRef.parent;
            node.parent = currentLevelRef;
            currentLevelRef.children.push(node);
            currentLevel = level;
        }
    });
    
    // Create content overview
    const contentOverview = document.querySelector('.content-overview ul');
    function createContentOverview(node, parent) {
        const li = document.createElement('li');
        const a = document.createElement('a');
        a.href = '#' + node.el.id;
        a.textContent = node.text;
        a.onclick = () => {
            node.el.scrollIntoView({ behavior: 'smooth' });
        };
        li.appendChild(a);
        if (node.children.length > 0) {
            const ul = document.createElement('ul');
            ul.classList.add('nest');
            node.children.forEach((child) => {
                createContentOverview(child, ul);
            });
            li.appendChild(ul);
        }
        parent.appendChild(li);
    }
    
    headerTree.children.forEach((child) => {
        createContentOverview(child, contentOverview);
    });
    
    // Hide content overview if there are no headers
    if (headers.length <= 1) {
        document.querySelector('.content-overview').style.display = 'none';
    }
</script>